.picContainer {
  align-items: center;
  display: flex;
  justify-content: center;
}

.heroImage {
  background-size: cover;
  background-position: center;
  width: auto;
  height: 300px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.heroText {
  padding: 30px;
  color: rgb(2, 47, 7);
  text-align: end;
}

.imgCard {
  min-width: 200px;
  aspect-ratio: 1/1;
  background-color: #cecece;
}

.cardContainer {
  display: flex;
  margin: 20px;
  justify-content: space-around;
}

.card {
  width: 300px;
}

.shopBtn {
  background-color: rgb(29, 29, 29);
  color: white;
  border: none;
  padding: 20px;
}

.shopImg {
  width: 300px;
  aspect-ratio: 1/1;
}

.shoesContainer {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.shoesCard {}

.imgCard {
  width: 300px;
  margin: 10px;
  aspect-ratio: 1/1;
}

.shoesName {
  width: 300px;
  margin: 10px;
  white-space: wrap;
}

.shoesPrice {
  margin: 10px;
}

.footer {
  display: flex;
  background-color: #cecece;
  padding: 10px;
}
