@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Prompt&display=swap');
a, button, .img-card {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

body {
  font-family: 'Kanit', sans-serif;
  font-family: 'Prompt', sans-serif;
}

body {
  margin: 0px;
}

.navbar-container {
  display: flex;
  justify-content: space-around;
  background-color: white;
  align-items: center;

}

.navbar {
  display: flex;
  gap: 10px;
}

.logo {
  border: 3px solid black;
  padding: 5px 10px;
  font-weight: bolder;
}



